/ex_slot3/nbproject/private/
/ex_slot3/build/
/ex_slot4/nbproject/private/
/ex_slot4/build/
/ex_slot5/nbproject/private/
/ex_slot5/build/
/ex_slot5/dist/
/ex_slot6/nbproject/private/
/ex_slot6/build/
